.btn_start {
    background-color: rgb(13, 138, 255);
    border-color: #1890ff;
    border-radius: 0.2em;
    color: #fff;
    line-height: 1.5;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 15%);
    font-size: 20px;
    font-family: 'CookieRun-Regular';

    padding: 4px 15px;

    position: absolute;
    bottom: 26%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    cursor: pointer;
}
.btn_start:hover {
    background-color: rgb(92, 176, 255);

    color: #fff;
    border-radius: 0.2em;
    padding: 5px 15px;
}
