#register-form {
    color: #a790d8;
    border-radius: 8px;
    padding: 20px;
    background-color: #FaFaFa;
    filter: drop-shadow(0px 3px 6px rgb(173, 169, 150, 0.4));
    min-width: 270px;
}
#register-form label {
    font-weight: 600;
}
#register-form #ConfirmName {
    border: none;
    background: none;

    margin: 0;
    padding: 0;
    font-size: 3px;
    font-family: 'Nanum Gothic';
    cursor: pointer;
}
#register-form .confirm-name,
#register-form #password {
    margin-bottom: 16px;
}
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused,
#confirmPassword:hover,
#confirmPassword:focus {
    border-color: #b7aad3 !important;
    box-shadow: 0 0 0 2px #a183e233 !important;
    border-right-width: 1px !important;
    outline: 0;
}

#register-form .confirmed {
    color: #23c587;
    font-size: 11px;
    font-family: 'Malgun Gothic';
}
#register-form .confirm-text {
    color: #FF5F6D;
    font-size: 11px;
    font-family: 'Malgun Gothic';
}

.register-form-button {
    background-color: #a790d8 !important;
    border-color: #a790d8 !important;
    border-radius: 6px;
}
.register-form-button:hover,
.register-form-button:focus {
    background-color: #b8a9d6 !important;
    border-color: #b8a9d6 !important;
}
.register-form-button:active {
    box-shadow: 0 0 0 1px rgb(161 131 226 / 20%);
}
