.footer {
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'MaplestoryOTFLight';
    font-weight: bold;
    z-index: 1;
}
.footer a {
    color: rgb(0,0,0, 0.2) !important;
}