a.prev_btn {
    margin: 10px;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    overflow: visible;
    cursor: pointer;
    color: #A183E2;
}
a.prev_btn:hover {
    background: none;
    border: none;
    color: #7451be;
}

.deco {
    color: #1890ff;
    text-align: center;
}
.deco h2 {
    color: #a790d8;
    font-family: 'Katuri';
}
ul {
    padding: 0;
    list-style: none;
}
.deco-grid {
    width: 82%;
    max-width: 350px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2,1fr);
    margin: 24px auto 30px auto;
}
.deco-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));

    width: 100%;
    height: 100%;

    cursor: pointer;
}
.deco-cell>img {
    width: 100%;
}
.deco-cell-border{
    background-image: url('../../../../assets/stripe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
}

/* Sections/Send */
.message_form {
    width: 86%;
    text-align: center;
}
.message_form h2 {
    color: #a790d8;
    font-family: 'Katuri';    
}
.message_form form{
    width: 100%;
    padding: 10px;
}
.message_form img{
    width: 64px;
    margin-bottom: 24px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}
.message_form input, .message_form textarea{
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
    width: 92%;
}
.message_form textarea.ant-input {
    height: 120px;
    width: 92%;
    transition: all 0.3s, height 0s;
}
.message_form form button, .deco button {
    background-color: #a790d8 !important;
    border-color: #a790d8;
    border-radius: 6px;
}
.message_form form button:hover,
.message_form form button:focus,
.deco button:hover,
.deco button:focus {
    background-color: #b8a9d6 !important;
    border-color: #b8a9d6;
}
.message_form input:hover,  
.message_form textarea:hover,
.message_form input:focus, 
.message_form textarea:focus {
    border-color: #b7aad3;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
}
.message_form input:focus, 
.message_form textarea:focus {
    box-shadow: 0 0 0 2px rgb(161 131 226 / 20%);
    border-right-width: 1px !important;
    outline: 0;
}