/* font */
@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('../fonts/Maplestory Light.ttf') format('truetype');
}@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('../fonts/Maplestory Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('../fonts/CookieRun Regular.ttf') format('truetype');
}

#root {
    align-items: center;
}
.App {
    max-width: 440px;
    margin: 0 auto;
}
.app {
    font-family: 'MaplestoryOTFLight';
    width: 100%;

    background-color: #f5eee6;
}