.post__app {
    background-color: #ffe196b0;
    background-image: url('../../../../assets/backpocket.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}
.post_app_none {
    background-color: #ffffff;
    background-image: url('../../../../assets/widepocket.png');
    background-size: cover;
    background-position: center;
}

.post_number {
    position: fixed;
    top: 3rem;
    left: 1.8rem;
    letter-spacing: 1px;

    z-index: 1;
    text-align: left;
}
.post_number #title {
    font-weight: bold;
}
.post_number h2 {
    margin: 0;
    font-weight: bold;
}
.post_number span {
    color: #a183e2;
}
.post_number p {
    color:rgba(0, 0, 0, 0.54);
    margin: 0;
}
.post_number p img {
    width: 24px;
    margin: 0;
    margin-right: 8px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.6));
}

/* PostBox */
.postBox {
    position: fixed;
    bottom: 5.2em;

    overflow-y: auto;
    overflow-x: hidden;
    height: 56%;
    max-height: 500px;
}
.postBox::-webkit-scrollbar {
    width: 10px;
}
.postBox__table {
    max-width: 310px;
}
.postBox__table .post {
    text-align: center;
    transition: transform 0.4s;
    cursor: pointer;
    padding: 10px 0;
}
.postBox__table .post img{
    width: 64px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
}
.postBox__table .post p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}
.postBox__table .post:hover {
    transform: scale(1.2);
}

#pocket {
    position: fixed;
    top: 40%;
    width: 60%;
    max-width: 240px;

    cursor: pointer;
    content:url("../../../../assets/pocket.png");
}
#widepocket {
    display: none;
}

#btnSend {
    position: fixed;
    bottom: 1.4em;

    width: 84%;
    max-width: 380px;
    padding: 2rem 0;
    font-size: 18px;
    line-height: 1.8;
    border-radius: 6px;
}

#copy-btn,  #share-btn {
    width: 100%;
    padding: 0.9rem 1.4rem;
    font-size: 15px;
    line-height: 0.2;
    border-radius: 6px;

    margin: 0 4px;
}